<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="logo">
      <img src="assets/img/auto.png" alt="Auto" />
    </div>

    <div class="form">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="login()">Recuperar</ion-button>

      <div class="spacer"></div>

      
    </div>
  </div>
</ion-content>