<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lista_usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listas</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-button expand="block" (click)="loadCategorias()">Cargar</ion-button>
  <ion-list *ngIf="categorias.length > 0">
    <ion-item *ngFor="let categoria of categorias">
      {{ categoria.id }}
      {{ categoria.nombre }}
      {{ categoria.descripcion }}
    </ion-item>
  </ion-list>
</ion-content>



<ion-button expand="block" (click)="loadVehiculos()">Cargar Vehículos</ion-button>
  <ion-list *ngIf="categorias.length > 0">
    <ion-item *ngFor="let vehiculo of vehiculos">
      {{ vehiculo.patente }}
      {{ vehiculo.marca }}
      {{ vehiculo.modelo }}
      {{ vehiculo.annio }}
      {{ vehiculo.color }}
      {{ vehiculo.capacidadPasajeros}}
    </ion-item>
  </ion-list>


<ion-button expand="block" (click)="loadUsuarios()">Cargar</ion-button>
<ion-list *ngIf="categorias.length > 0">
  <ion-item *ngFor="let usuario of usuarios">
    {{ usuario.rut }}
    {{ usuario.nombre }}
    {{ usuario.correo }}
    {{ usuario.contrasennia}}
    {{ usuario.apellidoPaterno }}
    {{ usuario.apellidoMaterno }}
    {{ usuario.fechaNacimiento  }}
    {{ usuario.carrera }}
    {{ usuario.sede }}
    {{ usuario.idCategoria }}
    {{ usuario.isActive }}
    {{ usuario.patenteVehiculo }}
  </ion-item>
</ion-list>