<ion-header [translucent]="true">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TeLlevoAPP</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button (click)="cerrarSesion()" aria-label="Cerrar sesión">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedor">

    <strong><p class="username-text">Bienvenid@ {{ nombre }}</p></strong>

    <div class="form">
      <ion-item>
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label position="floating">Ingresa dirección de destino</ion-label>
        <ion-input [(ngModel)]="adress" type="text"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="buscarChofer()">
        <ng-container *ngIf="!buscandoChofer">Buscar</ng-container>
        <ng-container *ngIf="buscandoChofer">Buscando chofer...</ng-container>
      </ion-button>
      <mat-progress-bar mode="indeterminate" *ngIf="buscandoChofer"></mat-progress-bar>
    </div>
    <div class="auto">
      <img src="assets/img/auto.png" alt="auto" />
    </div>
  </div>
</ion-content>

