/* Encabezado con menú */
.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #042e54; 
  color: #ffba0f; 
  font-family: fantasy;
  font-size: 24px; 
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;
}

/* Título del encabezado */
ion-title {
  background-color: #042e54; 
  color: #ffba0f; 
  font-family: fantasy;
  font-size: 24px; 
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;

}

/* Estilo del formulario */
ion-item {
  margin-bottom: 16px; /* Añade espacio entre los elementos */
}


/* Botón de búsqueda */
ion-button {
  background-color: #0074b3; 
  color: white; 
  font-weight: bold; 
  border-radius: 8px; 
}



/* Contenedor del formulario */
.contenedor {
display: flex;
flex-direction: column; 
justify-content: center; /* Centrar horizontalmente */
align-items: center; /* Centrar verticalmente */
height: 80vh; /* Utiliza el 100% de la altura de la ventana */
margin-top: 50px;
}

.auto {
text-align: center; /* Centra horizontalmente */
margin-top: 30px;
margin-bottom: 10px;
}

/* Estilo de la imagen del logotipo */
.auto img {
max-width: 60%; 
}

/* Estilo del formulario dentro del contenedor */
.form {
background-color: white; /* Fondo blanco */
padding: 20px;
border-radius: 8px;
border: 2px solid #0074b3; /* Contorno azul */
max-width: 400px; /* Ancho máximo del formulario */
}

/* Espaciador */
.spacer {
height: 20px; /* Ajusta la altura del espaciador según tu preferencia */
}

